.circular{
  border-radius: 100%;
}
body{
  background-color: #10375c;
  color: ghostwhite;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.first{
  background-color: #f2a51a;
  color: #222831;
  padding:20px 580px 20px 580px
}
.second{
  background-color: #10375c;
  color: ghostwhite;
  padding:20px 580px 20px 580px
}
.third{
  background-color: #00bcd4;
  color: #222831;
  padding:20px 580px 20px 580px
}
.fourth{
  background-color: #dee3e2;
  color: #222831;
  padding:20px 580px 20px 580px
}
.b1{
  color: #eb4559;
}
.hr{
  margin-left: 500px;
}
.c1{
  margin-left: 105px;
}
.d1{
  margin-left: 185px;
}
